---
name: Tests

on:
  push:
    branches: '*'
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x]
    env:
      OS: ${{ matrix.os }}
      NODE: ${{ matrix.node-version }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: npm install
      - name: Test ${{ matrix.node-version }}
        run: npm run lcov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          files: coverage/lcov.info
          env_vars: OS,NODE
          name: codecov-umbrella
          fail_ci_if_error: true
          verbose: true
